<h1>BANDAS</h1>

<TABLE>
    
    <tr>
        <th>GRUPO</th>
        <th>GENEROS</th>
        <th>CANTANTE</th>
    </tr>
    <tr>
        <td>SKILLET</td>
        <td>ROCK METAL</td>
        <td>JOHN COOPER</td>
    </tr>

    <tr>
        <td>SIAMES</td>
        <td>POP Y ROCK</td>
        <td>G. STOLTZING</td>
    </tr>

    <tr>
        <td>PANIC! AT THE DISCO</td>
        <td>ROCK</td>
        <td>BRENDON URIE</td>
    </tr>
    
</TABLE>